<div class = "boardgames-list">
  <% @boardgames.each do |boardgame| %>
      <p><%= link_to boardgame.name, "/boardgames/#{boardgame.id}", id: "list" %></p>
      <p><%= link_to "Edit", "/boardgames/#{boardgame.id}/edit", id: "edit" %></p>
  <% end %>
  <%= form_with url: "/companies/#{@company.id}/boardgames?:rank", method: :get, local: true, class: 'ranks' do |f| %>
    <%= f.label :rank %>
    <%= f.number_field :rank, {min: 0, max: 1000} %>
    <%= f.submit "Only Return Records with Lesser Rank than submited" %>
  <% end %>
<%= link_to "Add New Board Game", "/companies/#{@company.id}/boardgames/new" %>
<p>Alphabetize:
<%= link_to "Alphabetize", "?order=name"%>
</p>
</div>
