<div class = "boardgames-list">
  <% @boardgames.each do |boardgame| %>
      <p>name: <%= link_to boardgame.name, "/boardgames/#{boardgame.id}", id: "list" %></p>
      <p>rank: <%= boardgame.rank %></p>
      <p>out_of_print: <%= boardgame.out_of_print %></p>

      <p><%= link_to "Edit", "/boardgames/#{boardgame.id}/edit", id: "edit" %></p>
      <%= button_to "Delete", "/boardgames/#{boardgame.id}", method: :delete, class: 'delete'%>
  <% end %>
  <%= form_with url: "/companies/#{@company.id}/boardgames?:rank", method: :get, local: true, class: 'ranks' do |f| %>
    <%= f.label :rank %>
    <%= f.number_field :rank, {min: 0, max: 1000} %>
    <%= f.submit "Only Return Records with Lesser Rank than submited" %>
  <% end %>
<%= link_to "Add New Board Game", "/companies/#{@company.id}/boardgames/new" %>
<p class = "alpha" >Alphabetize:
<%= link_to "Alphabetize", "?order=name"%>
</p>
</div>
