<p class = "boardgames"><a href ="/boardgames">Board Games Link</p>

<div class="companies-list"><% @companies.most_recent.each do |company| %>
  <h3>
    <a href= <%= company_url(company) %>>
      <%= company.name %>
      <%= link_to "Edit", "/companies/#{company.id}/edit", id: "edit"%>
      <%= button_to "Delete", "/companies/#{company.id}", method: :delete, class: "delete" %>
  </h3>
  </a>Created At: <%= company.created_at.httpdate %>
  <% end %>
</div>
<p class= "new-company"><a href='/companies/new'>Add New Company</a></p>
<!-- #Header Company.name
#<ul> company.updated -->
