<h4>
  <%= link_to "Return to #{@current_country.country_name}", "/countries/#{@current_country.id}" %>
</h4>

<h4>
  <%= link_to "Return to #{@current_country.country_name} Warrooms lol", "/countries/#{@current_country.id}/warrooms" %>
</h4>

<h4>
  <%= link_to "Return to All Warrooms", "/warrooms" %> 
</h4>

<h1><%=@warroom.warroom_name%></h1>

<h2>Strategic Importance</h2>
<h3><%=@warroom.strategic_importance%>/5</h3>

<h2>Contains Deadman's Switch:</h2>
<h3><%=@warroom.deadman_switch%></h3>

<h2>Contains WMDs:</h2>
<h3><%=@warroom.contains_wmd%></h3>
